* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #12125a;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

nav {
  height: 10vh;
  background-color: rgb(22 22 142 / 90%);
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav label {
  display: none;
}

#check {
  display: none;
}


.navs {
  font-size: 30px;
}

.navs #Navlinks {
  color: white;
  text-decoration: none;
  padding: 2.8vh 60px;
}

h1 {
  font-size: 40px;
}


.home {
  margin-top: 20px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.textspace {
  width: 100%;
  display: Flex;
  flex-direction: column;
  align-items: center;

}

.count {
  margin: 10px;

}

#myText {
  width: 60vw;
  height: 39vh;
  padding: 4px 10px;
  font-size: 24px;
  border: 2px solid grey;
  margin: auto;
  font-family: 'Times New Roman', Times, serif
}

.btn {
  margin: 10px;
  padding: 10px;
  background-color: blue;
  color: white;
  font-size: 18px;
  border-radius: 10px;
  border: none;
}

.btn:hover {
  background-color: green;
}

.para1 {
  font-size: 24px;
  background-color: aqua;
  padding: 10px;
}

.para2 {
  font-size: 24px;
  background-color: red;
  color: white;
  padding: 10px;
}

.color {
  background-color: rgb(48, 43, 210);
}

@media screen and (max-width:650px) {
  .navs {
    width: 60vw;
    height: 80vh;
    background-color: grey;
    position: fixed;
    top: 10vh;
    right: -100%;
    transition: 0.5s all;
  }

  .navs #Navlinks {
    display: block;
    line-height: 40px;
  }

  #check {
    display: block;
  }

  .color {
    background-color: aqua;
  }


  .h1 {
    font-size: 30px;
  }

  .count {
    display: flex;
    flex-direction: column;
  }

  .buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  #myText {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    width: 80vw;
  }
}

#check:checked~.navs {
  right: 0px;
}